@import url('https://fonts.googleapis.com/css2?family=Rajdhani&display=swap');

nav {
    font-family: 'Rajdhani', sans-serif;
    background-color: var(--primary);
    padding: 10px;
    display: flex;
    justify-content: space-evenly;

}
ul{
    list-style: none;
}

.nav-list{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding: 0px 0px 0px 0px;
}

.nav-link {
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
}

.nav-link:hover { 
    font-weight: 800;
    color: black;
}

.active{
    border-bottom: 3px solid black;
}

@media (max-width: 700px) {
    .nav-link{
        font-size: 15px;
    }
}
