@import url('https://fonts.googleapis.com/css2?family=Rajdhani&display=swap');

nav {
    font-family: 'Rajdhani', sans-serif;
    background-color: var(--primary);
    
    padding: 25px;
    display: flex;
    justify-content: space-evenly;

}

.nav-link {
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
}

.nav-link:hover { 
    font-weight: 800;
    color: black;
}

@media (max-width: 700px) {
    .nav-link{
        font-size: 15px;
    }
}
