@import url('https://fonts.googleapis.com/css2?family=Rajdhani&display=swap');

nav {
    font-family: 'Rajdhani', sans-serif;
    background-color: var(--primary);
    padding: 10px;
    display: flex;
    justify-content: space-evenly;

}

.nav-list{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding: 0px 0px 0px 0px;
    list-style: none;
}

.dropdown-menu {
    background: rgb(32, 32, 32, .8);
    width: 150px;
    position: absolute;
    list-style: none;
    text-align: start;
    z-index: 999;
  }

.dropdown-menu.clicked{
    display: none;
}

.dropdown-link{
    display: block;
    list-style: none;
    height: 100%;
    width: auto;
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: left;
    color: white;
    padding: 5px 0px 5px 5px;
}

.dropdown-link.active{
    border-bottom: 3px solid white;
}

.dropdown-link:hover { 
    font-weight: 800;
}

.nav-link {
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    cursor: pointer;
}

.nav-link:hover { 
    font-weight: 800;
    color: black;
}

.active{
    border-bottom: 3px solid black;
}

@media (max-width: 700px) {
    .nav-link{
        font-size: 15px;
    }
}
