#contact-content{
    font-family: 'Titillium Web', sans-serif;
    animation: fadeIn 2s;
    display: flex;
    flex-direction: column;
    text-align: left;
    height: 40%;
    margin: 0px 0px 20px 30px;
    box-sizing: border-box;
}

#contact-container{
    display: flex;
    flex-direction: column;
    margin-bottom: 150px;
}

.contact-logo{
    width: 40px;
    height: 40px;
    padding-right: 5px;
}

.contact-row{
    display: flex;
    align-items: center;
    margin: 5px 0px 5px 0px;
    height: 25%;
}

.platform{
    margin: 0px 5px 0px 5px;
    white-space: nowrap;
}

.contact{
    margin: 0px 5px 0px 5px;
    color: black;
    text-decoration: none;
}

@media (max-width: 1050px) {
    .contact-logo{
        width: 20px;
        height: 20px;
    }
    .platform{
        font-size: 13px;
    }
    .contact{
        font-size: 13px;
    }
}
