#contact-content{
    font-family: 'Titillium Web', sans-serif;
    animation: fadeIn 3s;
    display: flex;
    flex-direction: column;
    text-align: left;
    height: 40%;
    margin: 30px 0px 0px 30px;
}

.contact-logo{
    width: 40px;
    height: 40px;
    padding-right: 5px;
}

.contact-column{
    display: flex;
}

.platform{
    margin-right: 5px;
    margin-left: 5px;
    white-space: nowrap;
}

.contact{
    color: black;
}

@media (max-width: 1050px) {
    .contact-logo{
        width: 20px;
        height: 20px;
    }
    .platform{
        font-size: 13px;
    }
    .contact{
        font-size: 13px;
    }
}
