.HS_Card{
    animation: fadeIn 1s;
    position:relative;
    width: 100px;
    height: 100px;
    padding: 0px 10px 10px 10px
}

.HS_img{
    width: 100px;
    height: 100px;
}

@media (max-width: 1050px){
  .HS_Card{
    width: 60px;
    height: 60px;
  }

  .HS_img{
    width: 60px;
    height: 60px;
  }
}
