.Ex_Card_Header{
    padding: 0px 10px 0px 10px;
    display: flex;
    height: auto;
}
.job{
    padding-left: 10px;
    display: flex;
    flex-direction: column;
}
.Ex_Card{
    animation: fadeIn 1s;
    margin: 5px 0px 5px 0px;
    display: flex;
    flex-direction: column;
    text-align: left;
    height: auto;
}
.job-logo{
    width: 120px;
    height: 120px;
}

@media (max-width: 1050px){
  .job-logo{
    width: 100px;
    height: 100px;
  }
  .job-title{
    font-size: 20px;
  }
  .job-period{
    font-size: 15px;
  }
}
