.Ex_Card_Header{
    padding: 0px 10px 0px 10px;
    display: flex;
    height: auto;
    font-family: 'Titillium Web', sans-serif;
}
.job{
    padding-left: 15px;
    display: flex;
    flex-direction: column;
}
.Ex_Card{
  animation: fadeIn 1s;
  margin: 5px 0px 5px 0px;
  display: flex;
  flex-direction: column;
  text-align: left;
  height: auto;
  box-sizing: border-box;
}
.job-logo{
    width: 120px;
    height: 120px;
}

.job-description{
  font-family: 'Cairo', sans-serif;
  padding: 0px 10px 10px 10px;
  border-bottom: 5px solid #6E6D70;
}

.company{
  margin-top: 0px;
  margin-bottom: 0px;
}
.job-title{
  margin-top: 0px;
  margin-bottom: 0px;
}
.job-period{
  margin-top: 20px;
  margin-bottom: 10px;
}
@media (max-width: 1050px){
  .job-logo{
    width: 100px;
    height: 100px;
  }
  .job-title{
    font-size: 17px;
  }
  .job-period{
    font-size: 13px;
  }
  .company{
    font-size: 22px;
  }
}
