@import url('https://fonts.googleapis.com/css2?family=Cairo&display=swap');
#about-buttons{
    height: auto;
    display: flex;
    flex-wrap: wrap;
}

button{
  align-items: center;
  padding: 6px 14px;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
  border-radius: 6px;
  border: none;
  margin: 0px 10px 10px 0px;
  background: #6E6D70;
  box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1), inset 0px 0.5px 0.5px rgba(255, 255, 255, 0.5), 0px 0px 0px 0.5px rgba(0, 0, 0, 0.12);
  color: #DFDEDF;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

button:focus {
  box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2), 0px 0.5px 1px rgba(0, 0, 0, 0.1), 0px 0px 0px 3.5px rgba(236, 236, 236, 0.5);
  outline: 0;
}

.job-description{
  font-family: 'Cairo', sans-serif;
  padding: 0px 10px 10px 10px;
  border-bottom: 5px solid #6E6D70;
}

#hardskills-content{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px 10px 10px 10px;
  margin-bottom: 100px;
  height: auto;
}

.skills-div{
  display: flex;
  height: auto;
  flex-wrap: wrap;
}

.skills-type{
  height: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 25px;
  font-family: 'Titillium Web', sans-serif;
  color: #242424;
  padding: 0px 0px 0px 10px;
  text-align: left;
}

#softskills-content{
  padding-top: 30%;
  justify-content: center;
  align-items: center;
}

.softSkill-type{
  width: 100%;
}


@media (max-width: 1050px){
  .job-description{
    font-size: 13px;
  }
  .skills-type{
    font-size:20px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
}
