@import url('https://fonts.googleapis.com/css2?family=Cairo&display=swap');
#about-container{
  width: 80vw;
}

#about-message{
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

#about-buttons{
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#about-button{
  align-items: center;
  padding: 6px 14px;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
  border-radius: 6px;
  border: none;
  margin: 0px 10px 10px 0px;
  background: #6E6D70;
  box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1), inset 0px 0.5px 0.5px rgba(255, 255, 255, 0.5), 0px 0px 0px 0.5px rgba(0, 0, 0, 0.12);
  color: #DFDEDF;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#about-button:focus {
  box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2), 0px 0.5px 1px rgba(0, 0, 0, 0.1), 0px 0px 0px 3.5px rgba(236, 236, 236, 0.5);
  outline: 0;
}


#skills-section{
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 10px 10px 10px 10px;
  justify-content: center;
  align-items: center;
}

#experiences-section{
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1050px){
  .job-description{
    font-size: 13px;
  }
  .skills-type{
    font-size:20px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
}
