div{
    background-repeat: no-repeat;
    background-size: 100% auto;
    height: 100%;
}
#background{
    background-image: url('../../media/background-crop.gif');
}

#myself{
    height:20%;
}

#message{
    height: 80%;
    border-top: 5px solid rgba(255, 255, 255, .5);
}

#home-container{
    display: flex;
}

#name{
    font-size: 50px;
    color: white;
    text-align: left;
    margin: 20px 0px 0px 30px;
}

#title{
    color: white;
    text-align: left;
    margin: 20px 0px 0px 30px;
}

@media (max-width:1300px) {
    #background{
        background-image: url('../../media/background.gif');
    }
}
