div{
    background-repeat: no-repeat;
    background-size: 100% auto;
    height: 100%;
}
#background{
    background-image: url('../../media/background-crop.gif');
    display: flex;
    flex-direction: column;
}

#myself{
    height:20%;
}

#messagediv{
    text-align: left;
    height: 80%;
    border-top: 5px solid rgba(255, 255, 255, .5);
    color: white;
}

#message{
    padding-left: 30px;
    padding-right: 370px;
    animation: fadeIn 3s;
}

#home-container{
    display: flex;
}

#name{
    font-size: 50px;
    color: white;
    text-align: left;
    margin: 20px 0px 0px 30px;
}

#title{
    color: white;
    text-align: left;
    margin: 20px 0px 0px 30px;
}

#content{
    overflow-y: scroll;
}

@media (max-width:1300px) {
    #background{
        background-image: url('../../media/background.gif');
    }
}

@media (max-width:1600px) {
    #message{
        padding-right: 30px;
    }
}

@media (max-width: 1050px) {
    #name{
        font-size: 30px;
    }

    #title{
        font-size: 20px;
    }
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
