
#cube-front, #cube-right, #cube-back, #cube-left, #cube-top, #cube-bottom{
    font-family: 'Titillium Web', sans-serif;
    display: flex;
    flex-wrap: wrap;
    color: white;
    justify-content: space-around;
    background-color: rgb(44, 44, 44, .9);
    animation: fadeIn 1s;
}
