
#cube-front{
    background-color: red;
}
#cube-right{
    background-color: orange;
}
#cube-back{
    background-color: yellow;
}
#cube-left{
    background-color: green;
}
#cube-top{
    background-color: blue;
}
#cube-bottom{
    background-color: purple;
}
