.project_card{
    position: relative;
    width: 100%;
    height: auto;
    animation: fadeIn 3s;
}

.project_img{
    display: block;
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(66, 66, 66, .9);
    overflow-y: scroll;
    width: 100%;
    height: 0;
    transition: .5s ease;
}

.overlay::-webkit-scrollbar{
    width: 12px;
	background-color: #616161;
}

.project_card:hover .overlay {
    height: 100%;
}

.project_content{
    color: white;
    position: absolute;
    top: 50%;
    left: 40%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: left;
}

.project_link{
    width: 40px;
    height: 40px;
}
