#name{
    font-size: 50px;
    color: rgb(19, 18, 18);
    text-align: left;
    width: 100%;
    text-align: center;

}

#title{
    color: rgb(15, 15, 15);
    text-align: left;
    width: 100%;
    text-align: center;
}

#home-header{
    height:auto;
    font-family: 'Titillium Web', sans-serif;
    padding-bottom: 5%;
}

#home-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}


